@import 'https://fonts.googleapis.com/css?family=Lobster|Raleway';


/*navbar*/
.navbar-default{
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: -2;

}
.navbar-default .navbar-nav>li>a{
  /*color: rgb(20, 163, 220);*/
  color: yellow;
}

/*body*/
body{
  background-image: url('https://hd.unsplash.com/photo-1471523094700-e1ec9d935a90');
  background-size: cover;
  background-attachment: fixed;
}
/*jumbotron*/
.jumbotron{
  /*background-image: url('https://hd.unsplash.com/photo-1457305237443-44c3d5a30b89');
  background-size: contain;*/
  background-color: transparent;
  margin-top: 50px;
}
.jumbotron .h1, .jumbotron h1{
  color: yellow;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}
.jumbotron p{
  margin-top: 60px;
  color: yellow;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
/*content about*/
h1{
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: yellow;
  text-align: center;
}
p{
  color: yellow;
  font-family: 'Lobster', cursive;
  font-size: larger;
}
.col-md-3{
  background-image: url('https://hd.unsplash.com/photo-1437419764061-2473afe69fc2');
  background-size: cover;
  border-radius: 20px;
  height: 200px;
}
.col-md-offset-3{
  background-image: url('https://hd.unsplash.com/photo-1437419764061-2473afe69fc2');
  background-size: cover;
  border-radius: 20px;
}
#our_story_wrapper{
  margin-bottom: 50px;
}
.featured-h1{margin-bottom: 50px;

  text-align: center;
  font-family: 'Lobster', cursive;

}
.featured{
  background-image: url('../img/pic1.png');
  background-size: cover;
  height: 200px;
  border-radius: 30px;
}
.featured1{
  background-image: url('../img/pic2.png');
  background-size: cover;
  height: 200px;
  border-radius: 30px;
}
footer{
  background-color: rgba( 20, 20, 20, .6);
  min-height: 350px;
  color: #fff;
}

#footer-logo{
  height: 100px;
}
.footer-border{
  border-left: 2px solid #333;
}
/*address{
  color: #fff;
  padding: 20px 0px;
}*/
#footer-content{
  margin-top: 15px;
}
i{
  margin-right: 4px;

}
/*contact info*/
.btn-group-lg>.btn, .btn-lg{
  margin-left: 600px;
}
.modal{
  position: fixed;
  right: 0;
  top: none !importante;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  /*-webkit-overflow-scrolling: touch;*/
  outline: 0;
}
.modal-content{
  margin-top: 118px;
}
.contact {
  display: flex;
  padding-top: 30px;
 }

.contact-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  align-content: center;
 }

.contact-intro {
  color: yellow;
  font-size: 1.1em;
  margin-right: 4.5em;
  margin-bottom: 2em;
 }

.email-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 4.5em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.66);
  border-radius: 100%;
  width: 10em;
  height: 10em;
  border: 3px solid #D5E2EB;
  box-shadow: 0px 4px 8px rgba(51, 54, 56, 0.6);
  transition: all 100ms ease-in-out;
  cursor: pointer;
 }
.email-container:hover {
  background-color: rgba(70, 92, 109, 0.9);
  border: 3px solid #978369;
  box-shadow: 0px 2px 4px rgba(51, 54, 56, 0.6);
 }
.email-container:hover .fa-envelope-o {
  color: #D5E2EB;
 }
.email-container:hover .email-me {
  color: #D5E2EB;
  background-color: rgba(105, 90, 68, 0.4);
  /*border: 1px solid #978369;*/
 }
.fa-envelope-o {
  color: #465C6D;
  margin-bottom: 0.2em;
}

.email-me {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.1em;
  /*border: 1px solid #D5E2EB;*/
  font-size: 1.25em;
  font-weight: bold;
  color: #333638;
  text-transform: uppercase;
/*letter-spacing: 0.1em;*/
}

.contact-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #F4F9FC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 300ms ease-in-out;
  pointer-events: none;
  margin-bottom: -10px;
 }
  .contact-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
   }
.contact-overlay.is-open .contact-modal {
  transform: translate(0px, 0px);
 }
.contact-modal {
  transition: all 300ms ease-in-out;
  transform: translate(0px, 150px);
  display: flex;
  width: 100%;
  margin-right: 5em;
  position: relative;
 }
  .contact-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10em;
    width: 100%;
    background-color: #F4F9FC;
   }
.contact-modal form .close-btn {
  position: absolute;
  top: -1.3em;
  right: 8.75em;
  color: #333638;
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
 }
  .contact-modal form .close-btn:hover {
    transform: scale(1.2);
   }
.contact-modal form #top-line {
  display: flex;
  width: 100%;
  margin-bottom: 0.5em;
  justify-content: space-between;
 }
.contact-modal form input[type="text"] {
  color: black;
  padding: 0.5em;
  width: 50%;
 }
  .contact-modal form input[type="text"][id="Name"] {
    margin-right: 0.5em;
   }
.contact-modal form input[type="submit"] {
  width: 50%;
  margin: 0 auto;
 }
.contact-modal form #bottom-line {
  width: 100%;
  display: flex;
  justify-content: center;
 }
  .contact-modal form #bottom-line textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
   }
/*media*/
@media screen and (max-width: 768px) {
  .jumbotron {
    margin-top: 170px;
  }
  .btn-group-lg>.btn, .btn-lg{
    margin-left: 50px;
  }
}
